{% extends "base.html" %}

{% load staticfiles %}

{%block srcone%}{% url 'introduce:index'%}{%endblock%}
{%block srctwo%}{% url 'introduce:story'%}{%endblock%}
{%block srcthree%}{% url 'introduce:effect'%}{%endblock%}
{%block srcfour%}{% url 'introduce:future'%}{%endblock%}

{%block onetitle%}안심벨이란?{%endblock%}
{%block twotitle%}안심벨의 이야기{%endblock%}
{%block threetitle%}안심벨로 인해 생긴일{%endblock%}
{%block fourtitle%}안심벨의 미래{%endblock%}
{%block content%}
<style>
h4{
  line-height: 30px;
}
</style>
<h1 style="color: rgb(104, 164, 196);">&nbsp;안심벨로 인해 생긴일</h1>
<h4 style=" color: #656565;"> &nbsp;안심벨이 생긴 이후 많은 여성들이 많은 위협으로부터 안전하게 생활할 수 있어졌습니다.
정확하게 그 효과를 보여주는 사건은 찾을 수 없었지만, 비슷한 효과를 보여주는 영상이 있습니다.</h4>
<iframe src='http://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=7C2D106783B1E41DCF772966AF9A0C56F1C4&outKey=V1212a4af8d464875fca0b915120ecaa4c9cfc65f0e643e8e101eb915120ecaa4c9cf&controlBarMovable=true&jsCallable=true&isAutoPlay=true&skinName=tvcast_white' frameborder='no' scrolling='no' marginwidth='0' marginheight='0' WIDTH='850' HEIGHT='400' allowfullscreen></iframe>
<h4 style=" color: #656565;">&nbsp;앞으로 안심벨로 인해 많은 여성들이 위험한 환경으로부터 자신을 지킬 수 있는 사건들이 많아지고 사회도 좀 더 안전하게 변화할 것이라고 예상합니다.</h4>
{%endblock content%}
