{% extends "base.html" %}

{% load staticfiles %}

{%block srcone%}{% url 'introduce:index'%}{%endblock%}
{%block srctwo%}{% url 'introduce:story'%}{%endblock%}
{%block srcthree%}{% url 'introduce:effect'%}{%endblock%}
{%block srcfour%}{% url 'introduce:future'%}{%endblock%}
{%block onetitle%}안심벨이란?{%endblock%}
{%block twotitle%}안심벨의 이야기{%endblock%}
{%block threetitle%}안심벨로 인해 생긴일{%endblock%}
{%block fourtitle%}안심벨의 미래{%endblock%}
{%block content%}
<style>
#logo1{
  width:450px;
  height: 250px;
}

p{
  font-size: 18px;
}

h4{
  line-height: 23px;
}
</style>
<h1 style="color: rgb(104, 164, 196);">안심벨의 미래</h1>
<h4  style=" color: #656565;" > &nbsp; 앞으로 안심벨은 많은 여성들의 안전을 지켜나가는 사건들이 많아질 것이고, 안심벨은 시스템의 발전으로 단지 공중화장실만 설치하지 않고 어두운 골목, 어두운 공원 등 안전하지 않다고 생각하는 각종 지역에도 설치될 예정이라고 합니다.</h4>
<img id="logo1" alt="" src="{% static 'img/news8.png'%}" />
<br>
<br>
<p><a href="http://www.gwmirae.kr/news/articleView.html?idxno=17038">횡성군, 공중화장실 여성 안심벨 확대 설치 - 강원미래신문</a></p>
<p><a href="http://m.blog.daum.net/6320898/1294">[안심벨] 우승희 의원 안심벨사업 통합관리,공중화장실 ... - Daum 블로그</a></p>
<p><a href="http://afef.asiae.co.kr/2017/forum_news_view.htm?pg=1&idxno=2016110311401793949">우승희 전남도의원, 도내 공중화장실 안심벨 설치 1.9% 불과</a></p>
<p><a href="http://urban114.com/news/detail.php?wr_id=3462">도시미래신문:국립공원 공중화장실 143곳, '여성 안심벨' 설치</a></p>
<br>
<h4  style=" color: #656565;" > &nbsp; 또한, 안심벨뿐만 아니라 앱으로 하는 기능, 좀 더 보편적으로 널리 어떠한 공간에서도 자신을 지킬 수 있도록 하는 각종 시스템들이 생겨 사회가 좀 더 안전하게 되고 여성들뿐만 아니라 남성들과 어린이와 노약자들도 편리하게 생활하고 안전을 지킬 수 있는 사회를 만들어갈 것이라 생각합니다.</h4>
{%endblock content%}
