{% extends "base.html" %}

{% load staticfiles %}

{%block srcone%}{% url 'introduce:index'%}{%endblock%}
{%block srctwo%}{% url 'introduce:story'%}{%endblock%}
{%block srcthree%}{% url 'introduce:effect'%}{%endblock%}
{%block srcfour%}{% url 'introduce:future'%}{%endblock%}

{%block onetitle%}안심벨이란?{%endblock%}
{%block twotitle%}안심벨의 이야기{%endblock%}
{%block threetitle%}안심벨로 인해 생긴일{%endblock%}
{%block fourtitle%}안심벨의 미래{%endblock%}
{%block content%}
<style>
#logo{
  width:55px;
  height: 50px;
}
#logo1{
  width:300px;
  height: 250px;
}
</style>
<h1 style="color: rgb(104, 164, 196);"><img id="logo" alt="" src="{% static 'img/bell.png'%}" />&nbsp;안심벨의 이야기
<img id="logo" alt="" src="{% static 'img/bell.png'%}" /></h4>
<h4  style=" color: #656565;">&nbsp;안녕? 나는 안심벨이야!</h4>
<h4  style=" color: #656565;">&nbsp;나는 사회적 약자인 여성의 안전을 지켜주기 위해 만들어 졌어.</h4>
<h4  style=" color: #656565;">&nbsp;오늘날 많은 사건 사고로 현재 많은 여성들이 많은 불안감에 떨고 있다고 해.</h4>
<img id="logo1" alt="" src="{% static 'img/news3.png'%}" />
<h4  style=" color: #656565;">&nbsp;하지만 이러한 불안들은 증가하는데 그에 따른 예방책은 아직도 미미하게 변화해 아직도 여성들의 안전이 많이 위협당하고 있고... </h4>
<h4><img id="logo1" alt="" src="{% static 'img/news4.png'%}" /><img id="logo1" alt="" src="{% static 'img/news7.png'%}" /></h4>
<h4  style=" color: #656565;">&nbsp;내가 지금까지 봐왔던 관점에서 예방에 가장 무감각한 지역이 제주도였었어. 하지만 제주도에서도 얼마 전 이러한 범죄 예방책에 대한 각성을 하게 된 사건이 있었는데, 그 사건은 제주 시청에서 일어난 “강간미수사건”이였지.</h4>
<img id="logo1" alt="" src="{% static 'img/news1.png'%}" /><img id="logo1" alt="" src="{% static 'img/news2.png'%}" />
<h4  style=" color: #656565;">&nbsp;이러한 사건으로 제주 도청에서는 안심벨 설치에 중요성을 알게 되었고, 안심벨의 설치를 시작하게 되었어~!</h4>
<h4  style=" color: #656565;">&nbsp;아직도 안심벨이 보편적으로 전부 각 칸마다 설치는 되어있지 않고 모든 공중화장실에 설치되어있지 않지만 앞으로 안심벨 설치 동향은 점 점 더 보편적일 것이라고 생각해!</h4>
<img id="logo1" alt="" src="{% static 'img/news5.png'%}" /><img id="logo1" alt="" src="{% static 'img/news6.png'%}" />
<h4  style=" color: #656565;">&nbsp;앞으로 나를 더 찾아주고 이곳, 저곳에 설치가 되어 여성들이 조금 더 안심할 수 있는 사회를 만드는 게 내 꿈이야.</h4>
{%endblock content%}
