{% extends "base.html" %}

{% load staticfiles %}

{%block srcone%}{% url 'introduce:index'%}{%endblock%}
{%block srctwo%}{% url 'introduce:story'%}{%endblock%}
{%block srcthree%}{% url 'introduce:effect'%}{%endblock%}
{%block srcfour%}{% url 'introduce:future'%}{%endblock%}

{%block onetitle%}안심벨이란?{%endblock%}
{%block twotitle%}안심벨의 이야기{%endblock%}
{%block threetitle%}안심벨로 인해 생긴일{%endblock%}
{%block fourtitle%}안심벨의 미래{%endblock%}
{%block content%}

<h1 style="color: rgb(104, 164, 196);">수토리</h1>

{%endblock content%}
