{% extends "base.html" %}

{% load staticfiles %}

{%block srcone%}{% url 'camera:index'%}{%endblock%}
{%block srctwo%}{% url 'camera:situation'%}{%endblock%}
{%block srcthree%}{% url 'camera:different'%}{%endblock%}
{%block srcfour%}{% url 'camera:prevent'%}{%endblock%}

{%block onetitle%}몰래카메라란?{%endblock%}
{%block twotitle%}몰래카메라 피해 상황{%endblock%}
{%block threetitle%}몰래카메라 구별법{%endblock%}
{%block fourtitle%}몰래카메라 예방법{%endblock%}


{%block content%}

<h1 style="color: rgb(104, 164, 196);">몰래카메라란?</h1>
<br>

<h4>-촬영을 당하는 사람이 촬영을 당한다는 사실을 모르는 상태로 촬영하는 카메라. 또는 그런 방식.</h4>

​

<h4></h4>
<h4 style=" color: #656565;">최근 스마트폰 보급이 확산되고 초소형 카메라 등 첨단 기술 장비가 발전하면서 몰래카메라 범죄가 기승을 부리고 있습니다.</h4>
<h4 style=" color: #656565;">주로 몰래 카메라 범죄에 이용된 도구로는 휴대전화가 82%로 높은 비율을 차지했으며,
 휴대전화가 있는 주변 어디에서나 몰래카메라에 의한 범죄가 일어날 지도 모른다는 불안감을 조성합니다.</h4>
<h4 style=" color: #656565;">개인의 호기심에서 시작된 몰래 카메라 범죄는 이제 몰래카메라로 찍은 영상이 불법적으로 유통되는 모습으로까지 등장하고 있고 점점 조직적인 범죄로 확대되어가고 있습니다.</h4>
<h4 style=" color: #656565;">몰래 카메라 검색으로 수많은 음란 동영상이 유출되고 있지만, 범인들은 피해자에게 직접가해를 입히지 않는다고 생각해서 죄책감을 느끼지 않고 반복적인 범죄를 저지르게 된다고 합니다.
몰래카메라의 눈에 띄지 않는 성격 때문에 여성들은  무방비하게 몰래카메라의 위험에 노출되고 있습니다. </h4>​
​

<h4 style=" color: #656565;">-몰래카메라에 관한 법령</h4>
​
<h4 style=" color: #656565;">1. 몰래카메라의 경우 성폭력범죄의 처벌 등에 관한 특례법 제14조 제1항(카메라 등을 이용한 촬영) 위반으로 5년 이하 징역 또는 1천만원 이하 벌금형에 처해진다.</h4>
​
<h4 style=" color: #656565;">2. 성매매 알선 행위에 대해서는 관련 법률 제19조 제2항(벌칙)에 따라 7년 이하 징역 또는 7천만원 이하 벌금형을 받는다.</h4>
​
<h4 style=" color: #656565;">3. 영리를 목적으로 그 촬영물을 인터넷 등 정보통신망을 이용하여 유포하면 7년 이하의 징역 또는 3천만원 이하의 벌금형에 처해진다.</h4>



​​
​
​

​
​

{%endblock content%}
