{% extends "base.html" %}

{% load staticfiles %}

{%block srcone%}{% url 'camera:index'%}{%endblock%}
{%block srctwo%}{% url 'camera:situation'%}{%endblock%}
{%block srcthree%}{% url 'camera:different'%}{%endblock%}
{%block srcfour%}{% url 'camera:prevent'%}{%endblock%}

{%block onetitle%}몰래카메라란?{%endblock%}
{%block twotitle%}몰래카메라 피해 상황{%endblock%}
{%block threetitle%}몰래카메라 종류{%endblock%}
{%block fourtitle%}몰래카메라 예방법{%endblock%}

{%block content%}
<style media="screen">
  li{
    font-size: 22px;
  }
</style>
<h3>화장실에서:</h3>
<ol>
  <li>부자연스러운 위치의 나사는 무조건 의심합니다.</li>
  <li>화장실에 있는 휴지통에 신문지를 깔고 그 안에 카메라를 숨기는 경우가 많으므로 신문지가 가장 위에 있을 경우 휴지를 뜯어 신문지를 덮거나 휴지통을 반대로 돌립니다.</li>
  <li>화장실 옆 칸의 밑 부분의 공간이 많다면 조심합니다. 그 공간으로 촬영을 감행하기 때문입니다.</li>
  <li>사람의 인기척이 있다면 볼일 보는 중이라도 천정을 살펴봅니다. 되도록 양 끝칸을 이용합니다.</li>
</ol>

<br>
<h3>숙박업소에서:</h3>
<ol>
  <li>실내 조명을 전부 소등하고 휴대전화 플래시를 비췄을 때 ‘반짝’하고 빛이 나는 곳이 있는지 살핍니다.</li>
  <li>직원이 권유하는 방 말고 다른 방을 택하는게 좋습니다.</li>
</ol>

<br>
<h3>그 외 몰래카메라 피해가 많은 공간에서 :</h3>
<ol>
  <li>계단을 오르내릴 때 가방이나 책으로 가려줍니다. 에스컬레이터는 45도 각도로 몸을 비틀어 탑니다.</li>
  <li> 사람이 많은 곳에서는 오래 서있지 말고 5~10분 단위로 자리를 옮기는 것이 좋습니다.</li>
  <li> 여름철 해수욕장이나 수영장에서 항상 주위를 살피고 촬영음은 없는지, 모르는 사람이 계속 따라온다던지, 이상한 느낌이 든다면 바로 그 자리를 떠야합니다.</li>
  <li> 나를 향해 주변에 가방이나 수건에 쌓여진 물품이 없는지 확인합니다.</li>
  <li> 몰래카메라의 흔적을 발견하거나, 사람을 발견하게 된다면 바로 신고합니다.</li>

</ol>


{%endblock content%}
